<h1>Read</h1>
    <button class="btn btn-primary" onclick='Read()'>Run</button>
    <button class="btn btn-info" onclick='continuousRead()'>Run Continuously</button>
    <button class="btn btn-danger" onclick='stopRead()'>Stop</button>
    <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}<input class="form-control" type="text" name="param0" id="param0Read" value='credentials.json'/><input class="form-control" type="text" name="param1" id="param1Read" value=''/>
    </form><script>
       function Read() {
           var param0 = $("#param0Read").val();
           var param1 = $("#param1Read").val();
           $.ajax({
               type: 'POST',
               url: "/Read/",  
headers: {
    "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val()
},

               data: {'param0': param0, 'param1': param1},
               success: function (response) {
                   console.log(response.code);
                   document.getElementById('Read_result').innerHTML = JSON.stringify(response.code, undefined, 2);
               }
           });
       }
       var myVarRead;
       function continuousRead() {
           var param0 = $("#param0Read").val();
           var param1 = $("#param1Read").val();
           $.ajax({
               type: 'POST',
               url: "/Read/",  
headers: {
    "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val()
},

               data: {'param0': param0, 'param1': param1},
               success: function (response) {
                   console.log(response.code);
                   document.getElementById('Read_result').innerHTML = JSON.stringify(response.code, undefined, 2);
               }
           });
           myVarRead = setTimeout("continuousRead()", 100);
       }
       function stopRead() {
            clearTimeout(myVarRead);
        }
   </script>

    <pre style="width: 100%; height:100px" id='Read_result'></pre>
    <pre style="width: 100%; height:100px" id='custom_if_result'>No Data For This Condtion At The Moment</pre>