{% load static %}

<script src="{% static 'blockly/blockly_compressed.js' %}"></script>
<script src="{% static 'blockly/blocks_compressed.js' %}"></script>
<script src="{% static 'blockly/python_compressed.js' %}"></script>
<script src="{% static 'blockly/msg/js/en.js' %} "></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/generators/codegenerator-custom_if.js' %}"></script>
<script src="{% static 'js/generators/codegenerator-custom_if_else.js' %}"></script>
<script src="{% static 'js/generators/codegenerator-api_creator.js' %}"></script>
<script src="{% static 'js/generators/codegenerator-interactive_creator.js' %}"></script>
<script src="{% static 'js/generators/codegenerator-weather.js' %}"></script>
<script src="{% static 'js/generators/codegenerator-motor-on.js' %}"></script>
<script src="{% static 'js/generators/codegenerator-motor-off.js' %}"></script>
<script src="{% static 'js/generators/codegenerator-uppersensor.js' %}"></script>
<script src="{% static 'js/generators/codegenerator-lowersensor.js' %}"></script>
<script src="{% static 'js/generators/codegenerator-print_content.js' %}"></script>
<script src="{% static 'js/generators/codegenerator-value_to_print.js' %}"></script>
<script src="{% static 'js/generators/codegenerator-do_it.js' %}"></script>

<script src="{% static  'js/generators/codegenerator-Label.js' %}"></script>
<script src="{% static  'js/generators/codegenerator-Read.js' %}"></script>
<script src="{% static  'js/generators/codegenerator-Send.js' %}"></script>
<script src="{% static  'js/generators/codegenerator-Search.js' %}"></script>

<script src="{% static  'js/generators/codegenerator-rajon.js' %}"></script>
<script src="{% static  'js/generators/codegenerator-first_interactive.js' %}"></script>


<script src="{% static  'js/generators/codegenerator-newspaper_headlines_reader.js' %}"></script>